{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <h1>Iniciar Sesion</h1>
  <!-- Mostrar mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  <form method="POST" action="{{url_for('auth.login')}}">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
  </br>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required></textarea>
</br>
    <button type="submit">Iniciar</button>
</form>
{% endblock %}