{%extends "layout.html"%}
{% block title %}{{titulo}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
{{ super() }}
{% endblock %}
{% block content %}

<!-- forms con {'nombre apartado':FlaskForm} -->
<!-- 
forms
ruta_post 
entidad
titulo
url_volver
activa
-->

    <div class="tabs">
        <ul>
            {% for idx,form in enumerate(forms) %}
                <li id="tab-{{idx}}" onclick="mostrar('{{ idx }}')" class="{% if activa == idx %} is-active {% endif %}">
                    <a>{{ form }}</a>
                </li>
            {% endfor%}
        </ul>
    </div>

    <div>
        <form method="POST" action="{{ruta_post}}" enctype="multipart/form-data">
            {% for idx, form in enumerate(forms) %}
            
                <div id="content-{{idx}}" class="tab-content {% if activa == idx %} is-active {% endif %}">
                    {% set campos = form._fields.keys()|list %}
                
                    {{ form.hidden_tag() }}<!-- CSRF token -->
                
                    {% include 'mensaje_flash.html' %}
                
                    {% for campo in range(campos|length-1) %}
                        <div>
                            {{ form[campos[campo]].label }} <!-- Renderiza la etiqueta -->
                            {{ form[campos[campo]] }} <!-- Renderiza el campo de entrada -->
                        </div>
                        <div>
                            <!-- Mostrar mensajes de error -->
                            {% for error in form[campos[campo]].errors %}
                                <span class="error" style="color: red;">{{ error }}</span>
                            {% endfor %}
                    
                        </div>
                    {% endfor %}
                </div>
            
            {% endfor %}
        
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% block complementos %}
<script>

    function mostrar (tabId)
    {
        // Ocultar todo el contenido de las pestañas
        const contents = document.querySelectorAll('.tab-content');
        contents.forEach(content => content.classList.remove('is-active'));
      
        // Mostrar el contenido correspondiente
        const activeContent = document.getElementById("content-"+tabId);
        activeContent.classList.add('is-active');
      
        // Quitar la clase is-active de todas las pestañas
        const tabs = document.querySelectorAll('.tabs ul li');
        tabs.forEach(tab => tab.classList.remove('is-active'));
      
        // Agregar la clase is-active a la pestaña clicada
        event.currentTarget.classList.add('is-active');

    }
    var activa = "{{activa}}"
    mostrar(activa)
</script>
{% endblock %}
<style>
    /* Centramos el contenido verticalmente */
    .full-height {
        height: 100vh;
        /* 100% de la altura de la pantalla */
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}