{% block delete_button %}
  {% if check_permission(entidad + "_destroy") %}
    <!-- Botón para abrir el modal de confirmación -->
    <button class="button is-danger" onclick="openDeleteModal({{ diccionario['id'] }})">Eliminar</button>

    <!-- Modal de confirmación -->
    <div id="deleteModal{{ diccionario['id'] }}" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Confirmar Eliminación</p>
          <button class="delete" aria-label="close" onclick="openDeleteModal({{ diccionario['id'] }})"></button>
        </header>
        <section class="modal-card-body">
            <p><strong>¿Está seguro de que quiere eliminar este elemento? {{ mensaje_eliminacion }}. Esta acción no es reversible</strong></p>
        </section>
        <footer class="modal-card-foot is-flex is-justify-content-center">
            <!-- Form para enviar la eliminación -->
            <form action="{{ url_for(entidad_archivo + '.delete', id=diccionario['id']) }}" method="post" style="display:inline;">
              <button class="button is-danger mr-2" type="submit">Eliminar</button>
            </form>
            <button class="button  is-primary ml-2" onclick="openDeleteModal({{ diccionario['id'] }})">Cancelar</button>
        </footer>
      </div>
    </div>
    
    <!-- Script para manejar el modal -->
    <script>
      function openDeleteModal(id) {
        document.getElementById('deleteModal' + id).classList.add('is-active');
      }
      
      function closeDeleteModal(id) {
        document.getElementById('deleteModal' + id).classList.remove('is-active');
      }
    </script>
  {% endif %}
{% endblock %}
