{% extends 'layout.html' %}
{% block title %} {{titulo}} {% endblock %}
{% block head %}
  
 <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
{{ super() }}
{% endblock %}

{% block content%}

<h1> {{titulo}}</h1>
<br>
{% if anterior %}
    <a href="{{ anterior }}" class="button">Volver</a>
{% else %}
    <a href="/" class="button">Volver a inicio</a>
{% endif %}
<br>

<div class="tabs">
    <ul>
      <li class="is-active" onclick="mostrar('informacion')"><a > Informacion </a></li>
      <li onclick="mostrar('documents')" ><a>Documentos</a></li>
      
    </ul>
</div>

 
<div id="tab-content"  class="is-active" >
  <div id="informacion" class="tab-content" class="is-active">
   
    <section class="section">
      <div class="container">
      <div class="box">  
      <ul class="list is-hoverable">  
      {%for key in diccionario %}
      {%if key != 'id' %}
          <li><strong class="has-text-weight-bold">{{key}} :</strong>{{diccionario[key]}}  </li>
          {%endif%}
      {%endfor%}
     </ul>
      </div>
     </div>
   </section>
   <div class="buttons is-centered">
    <br>
      <a href="{{ url_for( entidad + '.update',id = diccionario.id) }}"  class="button is-primary">Editar</a> 
    <br>
      <a href="{{ url_for( entidad + '.delete',id = diccionario.id) }}"  class="button is-primary">Eliminar</a>
    <br>
   </div>
 </div>
  <div id="documents" class="tab-content">
    <p> Documentos</p>
    {% set id_entidad= diccionario.id %}
    {% include 'files_search_box.html'%}
  </div>

</div>
<div>
  {% block tarjetas %}
  {% endblock %}
   
</div>

<script>

    function mostrar (tabId)
    {
        // Ocultar todo el contenido de las pestañas
        const contents = document.querySelectorAll('.tab-content');
        contents.forEach(content => content.classList.remove('is-active'));
      
        // Mostrar el contenido correspondiente
        const activeContent = document.getElementById(tabId);
        activeContent.classList.add('is-active');
      
        // Quitar la clase is-active de todas las pestañas
        const tabs = document.querySelectorAll('.tabs ul li');
        tabs.forEach(tab => tab.classList.remove('is-active'));
      
        // Agregar la clase is-active a la pestaña clicada
        event.currentTarget.classList.add('is-active');

        // Obtener los parámetros actuales de la URL
        let urlParams = new URLSearchParams(window.location.search);

        // Eliminar el parámetro 'activa'
        urlParams.delete('activo');

        // Modificar o agregar un nuevo parámetro
        urlParams.set('activo', tabId);

        // Actualizar la URL sin recargar la página
        let newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?' + urlParams.toString();
        window.history.replaceState({ path: newUrl }, '', newUrl);
   

    }
    var activo = "{{activo}}"
    mostrar(activo)
</script>
<style>
    .tab-content {
        display: none;
      }
      
      .tab-content.is-active {
        display: block;
      }
      
</style>

{% endblock %}
