{%extends "layout.html"%}
{% block title %}{{titulo}}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<section  >
    <h1 class="title is-3 has-text-centered has-text-weight-bold"> {{titulo}}</h1> <!-- Muestra el titulo al formulario -->
    
    <div class="container box">
        <div class=" is-flex is-justify-content-center is-align-items-center">
          <form method="POST" action="{{ruta_post}}"   enctype="multipart/form-data" >
         {% set campos = form._fields.keys()|list %}
      
         {{ form.hidden_tag() }}<!-- CSRF token -->
      
         {% for campo in range(campos|length-1)%}
             <div>
              
               {%if campos[campo] != 'submit'%}
                    {{ form[campos[campo]].label }} <!-- Renderiza la etiqueta -->
                    {% if form[campos[campo]].type == "TextAreaField" %}
                        {{ form[campos[campo]](class="form-control textarea", rows=10, id=campos[campo]) }}
                    {% else %}
                        {{ form[campos[campo]] }} 
                    {%endif%}
                {% else %}
                    {{ form[campos[campo]] }} 
               {%endif%}

             </div>
          
           {% endfor %}

         </form>
     </div>
      <br> 
      <a href="{{ url_volver }}" class="button is-danger">Cancelar</a>
      <br> 
   
 </div>
</section>

{% block complementos %} 
{% endblock %}
<style>
    /* Centramos el contenido verticalmente */
    .full-height {
        height: 100vh; /* 100% de la altura de la pantalla */
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}