{%extends "layout.html"%}
{% block title %}{{titulo}}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<section >
    <h1 class="title is-2 has-text-centered has-text-weight-bold"> {{titulo}}</h1> <!-- Muestra el titulo al formulario -->
    <form method="POST" action="{{ruta_post}}"   enctype="multipart/form-data">
            {% set campos = form._fields.keys()|list %}
        
        {{ form.hidden_tag() }}<!-- CSRF token -->
        

        {% for field in form if field.name != 'csrf_token' and field.type != 'SubmitField' %}
            <div class="field">
                <label class="label">{{ field.label.text }}</label>
                <div class="control">
                    {{ field(class="input") }}
                </div>
                <!-- Mostrar mensajes de error -->
                {% for error in field.errors %}
                    <span class="error" style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}

        {% if form.submit %}
            <div class="field has-text-centered">
                {{ form.submit(class="button is-large is-primary") }}
            </div>
        {% endif %}

    </form>

    <br> 
    <a href="{{ url_volver }}" class="button is-danger">Cancelar</a>
    <br> 

</section>

{% block complementos %} 
{% endblock %}
<style>
    /* Centramos el contenido verticalmente */
    .full-height {
        height: 100vh; /* 100% de la altura de la pantalla */
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}