<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body >
        <header >
            <div class="logo">
                <img src="{{ url_for('static', filename='cedica-icon.png') }}" alt="User Icon" class="user-icon">
            </div>
            <nav>

                <ul>
                    {%if is_authenticated()%}
                        {%if check_permission("client_index")%}
                            <li><a href="{{ url_for('clients.search_clients') }}">J&A</a></li> {% endif %}
                        {%if check_permission( "equestrian_index")%}
                            <li><a href="{{ url_for('equestrian.search_equestrian') }}">Ecuestre</a></li> {% endif %}
                        {%if check_permission("employee_index")%}
                            <li><a href="{{ url_for('employee.search_employee') }}">Equipo</a></li> {% endif %}
                        {%if check_permission("collection_index")%}
                            <li><a href="{{ url_for('collection.search_collection') }}">cobros</a></li> {% endif %}
                        {%if check_permission("pagos_index")%}
                            <li><a href="{{ url_for('payment.search_payment') }}">Pagos</a></li> {% endif %}
                        {%if check_permission("user_index")%}
                            <li><a href="{{ url_for('user.search_user') }}">Usuario</a></li> {% endif %}
                                   
                     {% endif %}
                        </ul>
            </nav>
            {%if is_authenticated() %} 
                <div class="user-menu">
                    <img src="{{ url_for('static', filename='user-icon.png') }}" alt="User Icon" class="user-icon">
                    <div class="user-dropdown">
                        <a href="#">Perfil</a>
                        <a href="{{url_for('auth.logout')}}">Cerrar sesión</a>
                    </div>
                </div>
                {% endif %}
            </header>
            {% include 'mensaje_flash.html' %}
           <div id="container"> 
             {% block content %} 
             {% endblock %}
            
           </div>
        <footer >
           
            {% block footer %} Final de pagina{% endblock %}
          
        </footer>

        
        
    </body>
</html>
