{% block list %}
     <div class="container">
           <div class="table-container has-text-centered">
            <table class="table is-fullwidth">
                {% if lista_diccionarios and lista_diccionarios[0]['id'] != 0 and lista_diccionarios[0]['id'] != '0' %}
                <div>
                    <thead>
                        <tr>
                        {% for key in lista_diccionarios[0].keys() %}
                            {%if key != 'id'%}
                                <th>{{ key | capitalize }}</th>
                            {%endif%}
                        {% endfor %}
                        <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for diccionario in lista_diccionarios %}
                            <tr id="{{diccionario['id'] }}">
                                {% for key in diccionario.keys() %}
                                    {%if key != 'id'%}
                                    <td>{{ diccionario[key] }}</td>
                                    {%endif%}
                                {% endfor %}
                                
                                    <td  class="card-footer">
                                        <div class="buttons">
                                        {%if check_permission(entidad + '_show')%}
                                        <!-- Link to view details -->
                                        <a class="button is-dark is-small" href="{{ url_for( entidad + '.detail',id = diccionario['id']) }}" class="card-footer-item">Ver Detalles</a>
                                        {%endif%}
                                        {%if check_permission(entidad + "_update")%}
                                        <!--Link to edit -->
                                        <a class="button is-primary is-small" href="{{ url_for( entidad + '.update',id = diccionario['id']) }}" class="card-footer-item">Editar</a>                                    
                                        {%endif%}
                                        {%if check_permission(entidad + "_destroy")%}
                                        <!-- Form to delete the element -->
                                        <form action="{{ url_for( entidad + '.delete', id = diccionario.id ) }}" method="post" style="display:inline;">
                                            <button class="button is-dark is-small" type="submit">Eliminar</button>
                                        </form>
                                        {%endif%}
                                    
                                        {%if entidad == 'users' and check_permission(entidad +'_block')%}
                                        <!-- Form to block the element -->
                                        <form action="{{ url_for('users.block', user_id= diccionario['id']) }}" method="post" style="display:inline;">
                                            <button class="button is-primary is-small" type="submit">Bloquear/Desbloquear</button>
                                        </form>
                                        {%endif%}
                                    </div>
                                    </td>
                            </tr>    
                        {% endfor %}     
                    </tbody>
                    <div>
                {%else%}
                    <h1 class="is-size-1"><strong>No hay elementos</strong></h1>
                {%endif%}
            </table>
        </div>
    </div>

{% endblock %}
