{%extends 'layout.html'%}
{% block title %}busqueda{% endblock %}
{% block head %}
  
 <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
{{ super() }}
{% endblock %}
{%block content%}

{% if anterior %}
  <a href="{{ anterior }}" class="button">Volver</a>
{% else %}
  <a href="/" class="button">Volver a inicio</a>
{% endif %}

<a class="button is-primary is-pulled-left" href="{{url_for( entidad + '.new_' + entidad)}}">Agregar</a>
<br>
<br>
<section class="search_box">
   
  <form method="GET" action="{{ url_for(entidad + '.search_'+ entidad) }}" >
    {{ form.hidden_tag() }}

    <div class="search_input field is-grouped">
      <div class="control is-expanded">
        {{ form.busqueda(class="input", placeholder="Buscar...") }}
     </div>
    </div>
    <div class="search_selec field is-grouped">
      <div class="control">
        <div class="select">
          
         <div>
            {{ form.tipo_filtro.label(class="label") }} 
            {{ form.tipo_filtro(class="select") }}
         </div>
        </div>
      </div>
      <div class="control">
        <div class="select">
         <div>
          {{ form.orden_filtro.label(class="label") }} 
           {{ form.orden_filtro(class="select") }}
        </div>
       </div>
      </div>
    <div class="control">
      {{ form.orden(class="radio") }}
      <label class="radio">{{ form.orden[0] }}</label>
      <label class="radio">{{ form.orden[1] }}</label>
   </div>

    <div>
        {{ form.submit(class="button is-info") }}  <!-- Botón para enviar el formulario -->
    </div>
 </form>
 </section>
 <br>
 {% include 'list.html'%}
 <br>

<!-- Pagination controls -->
<nav class="pagination is-rounded" role="navigation" aria-label="pagination">
<div class="pagination">
  {% if current_page > 1 %}
      <a href="{{ url_for(entidad + '.search_'+ entidad, page=current_page - 1, per_page=per_page, 
                              busqueda = request.args.get('busqueda'),
                              tipo_filtro = request.args.get('tipo_filtro'),
                              orden_filtro = request.args.get('orden_filtro'),
                              orden=request.args.get('orden')) }}"
                               class="pagination-previous" > Previous</a>
  {% endif %}
  
  {% for page_num in range(1, pages + 1) %}
      {% if page_num == current_page %}
          <strong>{{ page_num }}</strong>
      {% else %}
          <a href="{{ url_for(entidad + '.search_'+ entidad, page=page_num, per_page=per_page, 
                              busqueda = request.args.get('busqueda'),
                              tipo_filtro = request.args.get('tipo_filtro'),
                              orden_filtro = request.args.get('orden_filtro'),
                              orden = request.args.get('orden')) }}">{{ page_num }}</a>
      {% endif %}
  {% endfor %}
  
  {% if current_page < pages %}
      <a href="{{ url_for(entidad + '.search_'+ entidad, page=current_page + 1, per_page=per_page, 
                             busqueda=request.args.get('busqueda'),
                              tipo_filtro=request.args.get('tipo_filtro'),
                              orden_filtro=request.args.get('orden_filtro'),
                              orden=request.args.get('orden')) }}" class="pagination-next">Next</a>
  {% endif %}
</div>
</nav>
<p>Total : {{ total }}</p>
 
{%endblock %}
 

 
